* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777;
    background: url("../images/browntopographical-background.png");
  }
  
  /* general */
  
  .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }
  
  h1,
  p {
    margin-bottom: 20px;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  
  /* header */
  
  #masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin-left: -8px;
    margin-top: -20px;
    margin-bottom: -20px;
    overflow: auto;
    color: #fff;
    background: rgba(102, 102, 102, 0.836);
    border-bottom: 5px solid #4aaaa5;
  }

  nav {
    float: left;
    margin-left: -370px;
    margin-top: 35px;
    margin-bottom: 25px;
  }
  
  nav a {
    display: inline-block;
    padding-left: 10px;
    margin-left: 10px;
    line-height: 18px;
    font-size: 16px;
    color:  #4aaaa5;
    text-decoration: none;
    border-left: 1px solid #4aaaa5;
    border-bottom: 3px solid transparent;
  }
  
  nav a:first-child {
    border-left: 0 none;
  }

  nav a:hover {
    color: white;
    font-weight: 500;
    border-bottom: 3px solid #4aaaa5;
  }

  nav a:active {
    border-bottom: 3px solid #4aaaa5;
  }

  #links {
    float: right;
    margin-top: 28px;
    margin-bottom: 25px;
  }

  /* intro section */

  #intro {
    padding-top: 200px;
    margin-bottom: 500px;
  }

  #intro h1 {
    color:rgb(230, 227, 227);
    font-size: 70px;
    font-family: "Syncopate";
    font-weight: bolder;
    border-bottom: 8px solid #4aaaa5;
    padding-bottom: 20px;
  }

  #intro h2 {
    color:rgb(230, 227, 227);
    font-size: 40px;
    margin-left: 25px;
    padding-top: 200px;
  }

  /* about me */
  
  #aboutMe {
    padding-top: 200px;
    font-family: "Syncopate";
    padding-bottom: 20px;
    color:rgb(230, 227, 227);
    font-size: 50px;
    font-weight: bolder;
    border-bottom: 8px solid #4aaaa5;
    padding-bottom: 20px;
  }

  .col-md-8 p {
    color: white;
  }

  /* #main-container {
    padding-top: 130px;
    min-height: calc(100vh - 70px);
  }
  
  .main-section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 100px;
    background: rgb(230, 227, 227);
    border: 5px solid #4aaaa5;
    border-radius: 5px;
  } */

  /* portfolio section */

  #portfolio {
    padding-top: 200px;
    font-family: "Syncopate";
    padding-bottom: 20px;
    color:rgb(230, 227, 227);
    font-size: 50px;
    font-weight: bolder;
    border-bottom: 8px solid #4aaaa5;
    padding-bottom: 20px;
  }
  
  .work {
    position: relative;
    float: left;
    width: 47.6%;
    margin: 20px 0 25px;
    overflow: auto;
  }
  
  .work:nth-child(even) {
    margin-right: 40px;
  }
  
  .work img {
    width: 80%;
    border: 0 none;
    opacity: 0.9;
    margin-left: 20px;
  }

  .col-md-6 {
    margin-left: 50px;
  }
  
  .demo,
  .code {
    position: absolute;
    bottom: 20px;
    width: 50%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
    text-decoration: none;
  }

  .demo {
    width: 35%;
    margin-left: -705px;
  }

  .code {
    width: 40%;
    margin-left: -250px;
  }

  .demo:hover,
  .code:hover {
    background: rgba(255, 255, 255, 0.452);
    color: darkslategrey;
    font-weight: bold;
  }

  .auth-image {
    float: left;
    width: 250px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }
  
  /* contact section */

  footer {
    clear: both;
    font-size: 15px;
    color: #4aaaa5;
    text-align: center;
    background: rgba(102, 102, 102, 0.836);
    border-top: 5px solid #4aaaa5;
    display: block;
    overflow: auto;
    font-family: "Graduate";
    margin-left: -9px;
    margin-right: -9px;
    padding-bottom: 10px;
  }

  #linkedIn,
  #github,
  #email,
  #phone,
  #resume {
    text-decoration: none;
    padding: 10px;
  }

  #phone {
    margin-bottom: 10px;
  }

  #resume {
    font-size: 24px;
    margin-bottom: 30px;
  }

  #email {
      padding-left: 50px;
  }
  
  /* Responsiveness */
  @media  only screen and (max-width: 980px) {
    #masthead {
      position: static;
    }
  
    #logo {
      margin-left: 50px;
    }
  
    nav {
      margin-right: 50px;
    }
  
    #main-container {
      position: static;
      margin-top: -120px;
      margin-left: 50px;
      width: 60%;
      float: left;
    }
  
    .main-section {
      padding-top: 5px;
    }
  
    .work {
      width: 46%;
    }
  
    /* contact */
    li {
      margin-left: -40px;
    } 
  
  }
  
  @media only screen and (max-width: 768px) {
    #masthead {
      position: static;
    }
  
    #logo {
      margin-left: 20px;
    }
    
    nav {
      margin-right: 20px;
    }
  
    #main-container {
      margin-top: -120px;
      margin-left: 20px;
      width: 95%;
      float: left;
    }
  
    /* about me */
      .auth-image {
        width: 50%;
      }
  
    /* portfolio */
      .work {
        width: 46.8%;
      }
  
    /* contact */
      li {
        margin-left: -40px;
      } 
  }
  
  @media only screen and (max-width: 640px) {
    #masthead {
      position: static;
    }
    
    #logo {
      width: 100%;
      margin-left: 0;
    }
  
    nav {
      width: 100%;
      padding: 0 auto;
      text-align: center;
      padding-bottom: 20px;
    }
  
    #main-container {
      width: 95%;
      font-size: 18px;
      margin-left: 15px;
    }
  
    footer {
      width: 100%;
    }
  
  /* about me */
    .auth-image {
      width: 100%;
      margin-bottom: 20px;
    }
  
  /* portfolio */
    .main-section > h1 {
    font-size: 30px;
    }
  
    .work {
      width: 100%;
    }
  
  /* contact */
    li {
      margin-left: -40px;
    } 
  }